@charset "utf-8";
/* CSS document */

nav-logo{
        height: 32px;
        width: auto;
}

*{
        margin: 0;
        padding: 0;

}

nav{
        background: black;
        padding: 1rem;
}

nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
}

nav ul li{
        display: inline;
}

nav ul li a{
        color: white;
        text-decoration: none;
        padding: 1rem 1rem;
        display: block;
}

nav ul li a:hover {
        background-color: darkcyan;
        border-radius: 5px;
}

span {color: cadetblue;
}

body{
        background-color: royalblue;
}


.header-main{
        position: fixed;
        top: 0;
        width: 100%;
        height: 60px;
        background color: blueviolet;
        display: flex;
        justify-content: space-between;
        z-index: 1000;
}

a {
        font-size: 14px;
        line-height: 24px;
        color: white;
        font-family: MomoTrustDisplay-Regular;
        cursor: pointer;
        display: flex;
}